@media  (max-width: 480px) {
  img{
    width: 100%;
    max-width: 10em;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-column-gap: 1vw;
    background-color: gray;
  }

}

@media (min-width: 481px) and (max-width: 768px){
  img{
    width: 100%;
    max-width: 20em;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-column-gap: 1vw;
    background-color: gray;
  }
}

@media (min-width: 769px) {
  img{
    width: 100%;
    max-width: 20em;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-column-gap: 1vw;
    background-color: gray;
  }
}
#header-title{
  color: white;
}
body{
  background-color: gray;
}

img{
  border-radius: 25%;
  margin-top: 2em;
}

#AboutMeSection{
  background-color: white;
  text-align: center;

}

.AboutmeText{
  padding: 0 5vw;
}
