@media  (max-width: 480px) {
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-column-gap: 1em
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-column-gap: 1em
  }
}

@media (min-width: 769px) {
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-column-gap: 1em
  }
}







.BlogPost{
  background-color: white;
  overflow: auto;
  padding: 0.5em;
}

body{
  background-color: gray;
}


.title{
  text-align: center;
  font-size: 2em;
}
.blogText{
  padding: 0 2vw;
  font-size: 1.1em
}

pre{
  height: 10em;
  overflow-y: scroll;
  background-color: WhiteSmoke;
  margin: 0 2vw;
  border: solid black 0.1vw;

}
.codeTitle{
  margin: 0 2vw;
}
code{
    color: green
}
.HelpfulLinks{
  text-align: center;
}
.sectionHeader{
  margin: 2vw 2vw 1vw 2vw;
  font-size: 1.25em
}
