.title{
  text-align: center;
  font-size: 2em;
}
#mainTitle{
  color:white;
  text-align: left;
  display: inline;
  position: relative;
  top: 1vw;
  padding-left: 1vw;
  font-size: 2vw;
}
.NavButton{
  float: right;
  position: relative;
  font-size: 1vw;
  top: 1.5vw;
  background-color: Black;
  color: white;
  border-left: solid white 0.25vw;
}
nav{
  background-color: Black;
  height: 4vw;
}

.NavLink{
  color: white;
  text-decoration: none;
}
