@media  (max-width: 480px) {
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 70% 1fr;

  }
}

@media (min-width: 769px) {
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;

  }
}

body{
  background-color: gray;
}


#blog-container{
  background-color: lightgrey;
}

.blog-title{
  font-size: 2em;
  font-family: "Times New Roman", serif;
}
.BlogPostBox{
  background-color: black;
  color: white;
  height: 3em;
  border: solid white 0.1em;
  transition-timing-function: ease;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.blogLink{
  text-decoration: none;
  color: white;
  text-align: center;
  height: 3em;

}
.BlogPostText{
  font-size: 1em;
  height: 3em;
  margin: 0;
  padding-top: 1em;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}

.BlogPostBox:hover{
  color: black;
  background-color: white;
  border-color: black;
}
.BlogPostText:hover{
  color: black;
}
