
.grid-container{
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  justify-content: center;
  text-align:center;
}
.workout-row{
  outline: solid black 0.1em;
  display: flex;
  height: 4em;
}

.in-box{
  display: inline-block;
}
.set-box{
  outline: solid black 0.1em;
  width: 14.2%;
}
.workout-name-box{
  width: 14.2%
}
.form-text{
  width: 20%;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  border: none;
}
p{
  margin: 0
}
#workout-countainer{
  margin-top: 5em;
}
.add-box{
  border: solid black 0.1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  padding: 1em;
}
.work-form{
  margin-top: 3em;
}
.Exercise-header{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: inline-block;
  background-color: white;
  padding-left: 0.5em;
  border: none;
  overflow: visible;
}
.total-vol{
  text-align: center;
  width: 14.2%
}

.vol-text{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
